@font-face {
    font-family: '10mal12Lampen';
    src: url('assets/10mal12Lampen.woff2') format('woff2'),
        url('assets/10mal12Lampen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CATReporter';
    src: url('assets/CATReporter.woff2') format('woff2'),
        url('assets/CATReporter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphicCAT';
    src: url('assets/GraphicCAT.woff2') format('woff2'),
        url('assets/GraphicCAT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Herkules';
    src: url('assets/Herkules.woff2') format('woff2'),
        url('assets/Herkules.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ketwurst';
    src: url('assets/Ketwurst.woff2') format('woff2'),
        url('assets/Ketwurst.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'ABCM';
    src: url('assets/ABCMaristVariable-Trial.woff2') format('woff2'),
        url('assets/ABCMaristVariable-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABCMI';
    src: url('assets/ABCMaristVariableItalic-Trial.woff2') format('woff2'),
        url('assets/ABCMaristVariableItalic-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphicCAT';
    src: url('assets/GraphicCAT.woff2') format('woff2'),
        url('assets/GraphicCAT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
/*  background-color: #000AFF;
  color: white;*/
  color: #000AFF;
  padding: 0;
  margin:0;
  font-size:25px;
  font-family: "ABCM";
  font-weight: normal;
  line-height:1.25;
  border: 9px solid;
}

p {
    margin-bottom:-5px;
}

.author {
  font-size:24px;
  text-transform:uppercase;
  letter-spacing:1px;
}

span.small {
    font-size:20px !important;
}

canvas {
    max-width: 102%;
}


footer {
    margin-top:100px;
    margin-bottom: -9px;
}

#footer-text {
    margin: 0;
}

h1 {
  font-family: 'Herkules';
  text-transform:uppercase;
  font-weight: normal;
  font-size: 24vh;
  letter-spacing: 2px;
  line-height:1.1;
  text-align:center;
}

::selection {
    background: #F65800; /* Background color for selected text */
    color: white; /* Text color for selected text */
}

::-moz-selection {
    background: #F65800; /* Background color for selected text in Firefox */
    color: white; /* Text color for selected text in Firefox */
}

.grid-item {
      margin-bottom: 50px;
      max-width: 800px;
/*      border-bottom: 10px dotted;*/
}

.grid-container {
  display:flex;
  flex-direction:column;
  align-items:center;
}

#header-text {
  margin-top:50px;
}

main {
    padding: 0 50px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size:19vh;
  }

  #sticky-header {
    border-bottom:9px solid;
  }
}

#sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
/*    padding: 10px 20px;*/
    display: flex;
    z-index: 1000;
    width: 100%;
    margin-bottom:50px;
}